@model IEnumerable<RestaurantOtomasyonu.Models.Hakkimizda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Hakkımızda Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hakkımızda 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil"></i>Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-warning"><i class="bi bi-trash"></i>Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
